[sssd]
domains = {% for domain in domains %}{{domain|lower}}{% if not loop.last %},{% endif %}{% endfor %}

config_file_version = 2
services = nss, pam

{% for domain in domains %} 

[domain/{{domain|lower}}]
ad_domain = {{domain|lower}}
krb5_realm = {{domain|upper}}
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = True
fallback_homedir = /home/%d/%u
access_provider = simple
simple_allow_groups = {% for allowgroup in allowgroups %}{{allowgroup}}{% if not loop.last %},{% endif %}{% endfor %}

{% endfor %}



